.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

run-server-debug.js
out/**
node_modules
!node_modules/rockplate-language-server/dist/rockplate-language-server.min.js
webpack.config.js